.headerdata{
    display: flex;
}
.headerright{
    display: flex;
    justify-content: right;
    width: 50%;
}
.headerrightelement{
    margin-right: 20px;
}
.headerdown{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headercenter{
    display: flex;
    justify-content:center;
}

.imgsize{
    width: 308px;
    height: 250px;
}

.wrapproducts{
    display: flex;
    flex-wrap: wrap;
}

.borderCreation{
    border-style:groove;
    border-width: 1px;
}

.borderdetails{
    border-style: groove none none none;
}

.errorMessage{
    color: red;
}

.formalign{
    justify-content: center;
}

.row{
    width: 1116px;
    height: 190.5px;
    background-color: #e5fee9;
    margin-left: 104.5px;
    display: flex;
    justify-content: space-between;
}

.circle{
  height: 80px;
  width: 80px;
  background-color: #badbcc;
  border-radius: 50%;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
}

.child{
    position: absolute;
    margin: 25px 0px 0px 20px;
}
